#sidebar 
{
	float: right;
	width: 350px;
	padding-left:35px;
}

	h1
	{
	font-size:45px;
	color:#2B1492;
	}
	
	h2
	{
	color:#2B1492;
	}

	body 
	{
		background-color: #91AEF2;
	}
	
	#motd
	{
	font-size:20px;
	color:red;
	text-align:center;
	}
	
	.padding
	{
		padding:5px;
	}
	
	.container
	{
	background-color:#FFFFFF;
	box-shadow: 10px 10px 5px #243A6D;
	}
	
	#footer
	{
	padding-top:10px;
	}
	
	#main
	{
	padding:10px;
	}
	
	.center
	{
	text-align:center;
	}